.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 20px;
}

.logo {
    color: white;
}

.userOptionsContainer {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    align-items: center;
    position: relative;
    
}

.optionsDiv {
    background-color: rgb(80, 79, 79);
    position: absolute;
    left: 30px;
    top: 30px;
    width: auto;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}

.icon:hover {
    cursor: pointer;
}

.icon {
    color: darkorange
}

p {
    color: darkorange
}

